{
    /*
     * Gmail (extended) defaults for MailMate
     *
     * Based on: http://mail.google.com/support/bin/answer.py?answer=6594
     */

	/*
	 * |         Keybindings           |
	 * | Shortcut | Code | Description |
	 * | -------- | ---- | ----------- |
	 * | a        | a    | -           |
	 * | ⌃ a      | ^a   | Control-a   |
	 * | ⌥ a      | ~a   | Option-a    |
	 * | ⇧ a      | A    | Shift-a     |
	 * | ⌘ a      | @a   | Command-a   |
	 */

	/* Single-Keys */

	"c"    = "newMessage:";
	/* TODO: d = Compose in new tab */
	/* "/"    = "mailboxSearch:"; */ /* Alternative to just search the current mailbox. */
	"/"    = "searchAllMessages:";
	"k"    = "previousThread:";
	"j"    = "nextThread:";
	"p"    = "previousMessage:";
	"n"    = "nextMessage:";
	"~"    = "selectPreviousMailboxRow:";
	"`"    = "selectNextMailboxRow:";
	"o"    = "openMessages:";
	"u"    = ( "goToMailbox:", "INBOX" );
	"e"    = "archive:";
    "E"    = ("moveThreadToMailbox:", "archive"); /* archive the entire thread */
	"m"    = "markAsMuted:";
    /* TODO: x = Select conversation */
	"s"    = "toggleFlag:";
    /* TODO: + = Mark as important */
    /* TODO: - = Mark as unimportant */
	"!"    = "moveToJunk:";
	/* "r"    = "reply:"; */
	/* "R"    = "reply:"; [> In Gmail, ⇧R will reply in a new window. Kept for consistency. <] */
	"r"    = ( "reply:", "insertFormatString:", "${to.name.first},\n\n"); /* Smart reply */
	"a"    = "replyAll:";
	/* "A"    = "replyAll:"; [> In Gmail, ⇧A will reply all in a new window. Kept for consistency. <] */
	"f"    = "forwardMessage:";
	/* "F"    = "forwardMessage:"; [> In Gmail, ⇧F will forward in a new window. Kept for consistency. <] */
	"@F"   = "forwardAsAttachment:"; /* Added b/c MailMate doesn't yet work well with HTML messages w/o embedded text */
    /* ⎋  = escape from the input field; native in MailMate */
	"@s"   = "saveDocument:";
	"#"    = "deleteMessage:";
	/* l = open the tag editor; t is native in MailMate but to change this you must enable a hidden preference pane. See the README for more info. */
	"v"    = "moveToMailbox:";
	"I"	   = ( "markAsRead:", "nextMessage:" );
	"U"	   = "markAsUnRead:";
    /* TODO: [ = remove from current view and go to previous */
    /* TODO: ] = remove from current view and go to next */
    /* TODO: { = archive and go to previous */
    /* TODO: } = archive and go to next */
	"z"	   = "undo:";
	"Z"	= "redo:";
    /* ⇧N = update current conversation. i.e., synchronize mailboxes */
	/* "y"    = "archive:"; */
    /* y should: archive from inbox, unflag from flagged, move to inbox from trash, remove label from any label but this is not feasible in MailMate. */

	/*
	 * Combo keys
	 */

	"g" = {
		"a" = ( "goToMailbox:", "ALL_MESSAGES" );
		"s" = ( "goToMailbox:", "FLAGGED" );
		/* TODO: g then c = Go to 'Contacts' takes you to your Contacts list. */
		"d" = ( "goToMailbox:", "DRAFTS" );
		"g" = "selectFirstMessageRow:"; /* gg, like in Vim */
		"l" = "goToMailbox:";
		"i" = ( "goToMailbox:", "INBOX" );
		"t" = ( "goToMailbox:", "SENT" );
		"u" = ( "goToMailbox:", "0CE5FC71-F7DC-4D08-842D-0556FA57CDB9" ); /* Goto smart mailbox, Unread. Obtain the UUID from  ~/Library/Application Support/MailMate/Mailboxes.plist */
	};
	"G" = "selectLastMessageRow:"; /* G, like in Vim */

	"*" = {
		"a" = "selectAll:";                                            /* Selects all */
		"n" = "deselectAll:";                                          /* Deselect all */
		"r" = ( "selectWithFilter:", "#flags.flag = '\\Seen'" );        /* Selects all mail you've read. */
		"u" = ( "selectWithFilter:", "#flags.flag !=[x] '\\Seen'" );    /* Selects all unread mail. */
		"s" = ( "selectWithFilter:", "#flags.flag = '\\Flagged'" );     /* Selects all starred mail. */
		"t" = ( "selectWithFilter:", "#flags.flag !=[x] '\\Flagged'" ); /* Selects all unstarred mail. */
	};
	"N"	= "moveDownAndModifySelection:";
	"P"	= "moveUpAndModifySelection:";

	/*
     * Composing
	 */

	"@\U000A" = "send:"; // ⌘+return
	"@\U000D" = "send:"; // ⌘+enter
    /* ⌘. = advance to next window */
    /* ⌘, = go to previous window */
    /* ⌘⇧c = add cc recipients */
    /* ⌘⇧b = add bcc recipients */
    /* ⌘⇧f = change from address */
}
