{
	//
	// Gmail defaults from MailMate (plus my customizations)
	//

	// Based on: http://mail.google.com/support/bin/answer.py?answer=6594

	"c"    = "newMessage:";
	"/"    = "mailboxSearch:";
	"j"    = "nextMessage:";
	"k"    = "previousMessage:";
	/* "j" = "nextThread:"; */
	/* "k" = "previousThread:"; */
	"p"    = "selectPreviousMailboxRow:";
	"n"    = "selectNextMailboxRow:";
	"o"    = "openMessages:"; // Gmail: Also expands or collapses a message if you are in 'Conversation View.'
	"e"    = "archive:";
    "E"    = ("moveThreadToMailbox:", "archive"); // archive the entire thread
	"#"    = "deleteMessage:";
	"m"    = ( "toggleMuteState:", "archive:" ); // FIXME: Should be 'markAsMuted:'
	"s"    = "toggleFlag:";
	"!"    = "moveToJunk:";
	"r"    = "reply:";
	"a"    = "replyAll:";
	"f"    = "forwardMessage:";
	"@F"   = "forwardAsAttachment:"; // Added b/c MailMate doesn't yet work well with HTML messages w/o embedded text
	"^s"   = "saveDocument:";
	// l Label
	"v" = "moveToMailbox:";
	"u" = ( "goToMailbox:", "INBOX" );

	"I"	= "toggleReadState:"; // FIXME: Should be ( "markAsRead:", "nextMessage:");
	"U"	= "toggleReadState:"; // FIXME: Should be "markAsUnRead:"

	"z"	= "undo:";

	// Only in MailMate
 	"N"	= "moveDownAndModifySelection:";
	"P"	= "moveUpAndModifySelection:";
	"J"	= "moveDownAndModifySelection:";
	"K"	= "moveUpAndModifySelection:";
	"Z"	= "redo:";

	"/"	= "searchAllMessages:";

	// Combo keys
	"g" = {
		"a" = ( "goToMailbox:", "ALL_MESSAGES" );
		"s" = ( "goToMailbox:", "FLAGGED" );
		// g then c	Go to 'Contacts'	Takes you to your Contacts list.
		"d" = ( "goToMailbox:", "DRAFTS" );
		"g" = "selectFirstMessageRow:"; // gg, like in Vim
		"l" = "goToMailbox:";
		"i" = ( "goToMailbox:", "INBOX" );
		"t" = ( "goToMailbox:", "SENT" );
	};
	"G" = "selectLastMessageRow:"; // G, like in Vim

	"*" = {
		"a" = "selectAll:";
		"n" = "deselectAll:";
		"r" = ( "selectWithFilter:", "#flags.flag = '\\Seen'"); // Selects all mail you've read.
		"u" = ( "selectWithFilter:", "#flags.flag !=[x] '\\Seen'"); // Selects all unread mail.
		"s" = ( "selectWithFilter:", "#flags.flag = '\\Flagged'"); // Selects all starred mail.
		"t" = ( "selectWithFilter:", "#flags.flag !=[x] '\\Flagged'"); // Selects all unstarred mail.
	};
}

/*
Not included above:

u	Return to conversation list	Refreshes your page and returns you to the inbox, or list of conversations.
x	Select conversation	Automatically checks and selects a conversation so that you can archive, apply a label, or choose an action from the drop-down menu to apply to that conversation.
+	Mark as important	Helps Gmail learn what's important to you by marking misclassified messages. (Specific to Priority Inbox)
-	Mark as unimportant	Helps Gmail learn what's not important to you by marking misclassified messages. (Specific to Priority Inbox)

[	Archive and previous	Removes the current view's label from your conversation and moves to the previous one.
]	Archive and next	Removes the current view's label from your conversation and moves to the next one.
y	Remove from Current View* Automatically removes the message or conversation from your current view.
 From 'Inbox,' 'y' means Archive
 From 'Starred,' 'y' means Unstar
 From 'Trash,' 'y' means Move to inbox
 From any label, 'y' means Remove the label
 * 'y' has no effect if you're in 'Spam,' 'Sent,' or 'All Mail.'
.	Show more actions	Displays the 'More Actions' drop-down menu.

y then o	Archive and next	Archives your conversation and moves to the next one.

*/
